@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7pla1k');
  src:  url('fonts/icomoon.eot?7pla1k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7pla1k') format('truetype'),
    url('fonts/icomoon.woff?7pla1k') format('woff'),
    url('fonts/icomoon.svg?7pla1k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wrong:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e913";
}
.icon-warning:before {
  content: "\e908";
}
.icon-qrcode:before {
  content: "\e904";
}
.icon-chat:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e914";
}
.icon-wallet:before {
  content: "\e903";
}
.icon-box:before {
  content: "\e90c";
}
.icon-heart:before {
  content: "\e90d";
}
.icon-heart-solid:before {
  content: "\e916";
}
.icon-location:before {
  content: "\e90e";
}
.icon-message-question:before {
  content: "\e90f";
}
.icon-receipt:before {
  content: "\e910";
}
.icon-refresh:before {
  content: "\e911";
}
.icon-setting:before {
  content: "\e912";
}
.icon-eye:before {
  content: "\e902";
}
.icon-user-square:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-shop:before {
  content: "\e906";
}
.icon-users:before {
  content: "\e907";
}
.icon-bag:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e90a";
}
.icon-community:before {
  content: "\e90b";
}
